<div class="col-lg-12">
  <div class="card">
    <div class="card-header border-0">
      <div class="d-flex align-items-center">
        <a class="btn btn-primary" routerLink="/">Return</a>
        <h5 class="card-title mb-0 flex-grow-1 text-center">Search a City</h5>
      </div>
    </div>
    <!-- end of card header-->

    <div class="card-body border border-dashed border-end-0 border-start-0">
      <form #citysearch="ngForm" (ngSubmit)="searchCities(citysearch.value)">
        <div class="row g-3">
          <div class="col-lg-6">
            <label for="cityName-field" class="form-label">City Name:</label>
            <input
              id="cityName-field"
              class="form-control"
              type="text"
              name="cityName"
              ng-model="cityName"
              placeholder="Provide a city name please..."
              ngModel
            />
          </div>
          <!--end col-->

          <div class="col-lg-6">
            <label for="cityCount-field" class="form-label">City Count:</label>
            <input
              id="cityCount-field"
              class="form-control"
              type="text"
              name="cityCount"
              ng-model="cityCount"
              placeholder="Provide a city count please..."
              ngModel
            />
          </div>
          <!--end col-->
          <div class="col-lg-6">
            <button
              type="submit"
              (ngClick)="searchCities(citysearch.value)"
              class="btn btn-primary"
            >
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- end of card body-->
</div>

<app-result [cities]="cities"></app-result>
